.box{
    display:flex;
    width:min(600px,100%);
    background-color: white;
    min-height: 200px;
    border-top:0.5px;
    border-bottom:0.5px;
    border-left: 0px;
    border-right: 0px;
    border-style:solid;
    border-color:rgba(228, 228, 228, 0.5);
    box-sizing:border-box;
    flex-direction: column;
    padding:20px;
}

