.kurungan{
    width:100%;
    height: 80px;
    background-color: black;
    color:white;
}
.kanan{
    height: 80px;
    width :40%;
    position: absolute;
    right:0%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.kiri{
    height: 80px;
    width: 40%;
    position: absolute;
    left: 0%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.tombol {
    height: 80px;
    padding-left:5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
}
.tombol:hover{
    background-color:rgb(19, 19, 19);
}
.tombol:active{
    background-color: tomato;
}
.logo{
    width: 60px;
    height:60px;
    margin-right: 100%;
}
.gmbprof{
    width: 40px;
    height: 40px;
    margin-right:10px;
}
.dropper{
    display:flex;
    width:auto;
    height:auto;
    flex-direction: column;
    
}
.dropper>div{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    background-color:tomato;
    height:80px;
    flex-direction: row;
}
.kanandrops{
    height: 80px;
    width :40%;
    position: absolute;
    right:0%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
}
.kays{
    height: 80px;
    width :100%;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}
.spanbut{
    padding-left:10px;
}