.logo{
    width: 40px;
    height: 40px;
}
.top{
    width: 100%;
    display:flex;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}
.textarea{
    width: 100%;
}
.top > h3{
    padding-left: 10px;
}
.likeanddislike{
    display: flex;
    width:min(200px,50%);
    justify-content: space-between;
    color:gray;
    cursor: pointer;
}
.likeanddislike:active{
    background-color: rgba(rgba(0, 0, 0, 0.226), green, blue, alpha);
}
.comment{
    display:flex;
    flex-direction:column;
    width:100%;

}