.signup{
    display: flex;
    width: 300px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border: 2px solid gray;
    border-radius: 10%;
    box-shadow: 0px 20px 15px;
    background-color: white;
}
.signup > label {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.signup>div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.signup>h1{
    color:black;
    padding: 15px 20px 15px 20px;
}
.signup>input{
    background-color: rgb(19, 192, 28);
    padding: 5px 50px 5px 50px;
    border-radius: 10%;
    color: white;
    font-size: 20px;
}
.center{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}