.isi{
    display:flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction:column;
    
}
.form{
    display:flex;
    flex-direction: column;
}
.form>label>input[type="text"]{
    height:100px;;
    width:100%;
}
.from>label{
    width:100%;
    display: flex;
    justify-content: flex-end;
}